/** 顶部菜单 */
.page-menu .w1200 .menubox-children{width: 685px;height:60px;position: absolute;bottom: -40px;left: -210px;z-index:1;display: block;opacity: 0;transition: 0.3s linear;}
.page-menu .w1200 .menubox-parent .parent-li .parent-bg{width: 687px;height:70px;position: absolute;top:0;left:-211px;background: #fff;z-index: 110;}

/** 公共标题 */
.section-tit-box{width: 100%;display: flex;justify-content: center;}
.section-tit-box .tit-sec-box h2{font-size: 36px;line-height: 45px;font-weight: bold;text-align: center;}
.section-tit-box .tit-sec-box p{text-align: center;line-height:22px;}

/** 公共按钮 */
.section-btn-box{width:480px;display:flex;align-items: center; justify-content: space-between;margin:80px auto 0;}
.section-btn-box .section-btn-txt{width: 200px;height: 54px;text-align: center;line-height: 54px;border-radius: 10px;cursor: pointer;}
.section-btn-box .section-btn-txt{background-image: linear-gradient(to right, #3F57FF , #4694FF);}
.section-btn-box .section-btn-txt:hover{box-shadow: 0 2px 20px 2px rgba(63, 88, 255, 0.5);}

/** banner模块*/
.netC-banner{background:url("/images/images-test/banner-img.png") center center no-repeat;height: 710px;position: relative;/*overflow: hidden;*/color: #fff;margin: 0 0 88px;background-size: cover;}
.netC-banner .w1200{height: 100%;}
.banner-test-btn {width: 150px;height: 54px;}
.banner-txt{padding: 190px 0 0 0px; overflow: hidden;}
.banner-txt-left {width: 550px;}
.banner-txt-left .n_server-txt{font-size: 48px; line-height: 52px;}
.banner-txt-left h3.n_server-title { margin-top: 50px; letter-spacing: 3px;line-height: 30px;color: #E1E9FF;font-size: 30px;}
.banner-txt-left p { color: #fff; font-size: 18px; line-height: 24px; margin: 35px 0 0;}
.banner-txt-left .n_server-form{width: 450px;height:54px;display: flex;align-items: center;border:1px solid #fff;border-radius: 10px;overflow: hidden;}
.banner-txt-left .n_server-form input{width: 242px;height: 54px;line-height: 54px;padding: 0 14px;border: 0;font-size: 16px;color: #fff;background: rgba(0,0,0,0);}
.banner-txt-left .n_server-form input::-webkit-input-placeholder{color:#A29FFF;}
.banner-txt-left .n_server-form input::-moz-placeholder{color:#A29FFF;}　　
.banner-txt-left .n_server-form input:-moz-placeholder{color:#A29FFF;}
.banner-txt-left .n_server-form input:-ms-input-placeholder{color:#A29FFF;}
.banner-txt-left .n_server-form .n_server-form-btn{width: 180px;height: 54px; font-size: 18px;color:#615BF3;background: #fff;display: flex;align-items: center;justify-content: center;cursor: pointer;}

.banner_list{left: 0;bottom: -85px;width:100%;}
.banner_list ul{margin-left: -16px;}
.banner_list li{border-radius: 10px;background-color: #fff;padding: 19px 0 0;width: 284px;height:114px;float: left;margin-left: 16px;box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);}
.netC-banner .banner_list{color: #4a4a4a;}
.netC-banner .banner_list p{line-height: 20px;}
.banner-box{padding-left: 20px;}
.banner-icon{width: 50px;height: 50px;float: left;}
.banner-box h3{font-weight: bold; font-size: 20px;}
.banner-box p{width: 180px;}
.banner-box p span{color: #FD4C39;}

/** 模块一 */
.one-w100 .one-title{padding-top: 30px;}
.section-one-box ul{width:100%;}
.section-one-box ul li{width:100%;padding: 90px 0;}
.section-one-box ul li:nth-child(1){padding: 80px 0 90px;}
.section-one-box ul li:nth-child(2){background: #F6F9FF;}
.section-one-box ul li .onebox-left{display: flex;justify-content:space-around;flex-direction:row;}
.section-one-box ul li .onebox-right{display: flex;justify-content:space-around;flex-direction:row-reverse;}
.section-one-box ul li:nth-child(1) img{width: 340px;height:312px;display: block;}
.section-one-box ul li:nth-child(2) img{width: 320px;height:308px;display: block;}
.section-one-box ul li:nth-child(3) img{width: 318px;height:308px;display: block;}
.section-one-box ul li .onebox-sec{padding-left: 70px;}
.section-one-box ul li:nth-child(2) .onebox-sec{padding-right: 45px;padding-left: 0;}
.section-one-box ul li .title-box{width: 100%;font-weight: bold;margin-bottom: 25px;}
.section-one-box ul li .title-box span{color: #2F73F8;}
.section-one-box ul li .label-box{display: flex;flex-wrap: wrap;margin-bottom: 15px;}
.section-one-box ul li .label-box span{display: block;margin: 7px 10px 0 0;width: 8px;height: 8px;border:1px solid #fff;border-radius: 100%;}
.section-one-box ul li .label-box span.red{background: #FF9586;}
.section-one-box ul li .label-box span.yellow{background: #FFCE78;}
.section-one-box ul li .label-box span.green{background: #66DFCF;}
.section-one-box ul li .label-box span.blue{background: #578ef9;}
.section-one-box ul li .label-box p{flex:1;line-height: 25px;}

/** 模块二 */
.two-w100{width: 100%;height: 900px;background: url('../images/images-test/two-bg-img.png') no-repeat center center;background-size: 100% 100%;}
.two-w100 .section-two-box{width: 100%;padding-top: 88px;}
.section-two-box ul{display: flex;justify-content: space-between;flex-wrap: wrap;}
.section-two-box ul li{width: 380px;height: 182px;position: relative;}
.section-two-box ul li .label-bg{width: 100%;height: 100%;position: absolute;top:0;left:0;}
.section-two-box ul li .two-bg-box{width: 100%;height:100%;position: absolute;top:0;left:0;display: flex;}
.section-two-box ul li .two-bg-box .label-img{width: 40px;height:40px; display: block;margin: 40px 20px 0 40px;}
.section-two-box ul li:nth-child(3) .two-bg-box .label-img,.section-two-box ul li:nth-child(5) .two-bg-box .label-img{width: 34px;height:40px; display: block;}
.section-two-box ul li .two-bg-box h2{font-weight: bold;}
.section-two-box ul li .two-bg-box p{width: 230px;line-height: 24px;}